
@font-face {
    font-family: nexabold;
    src: url('../fontes/Nexa-Bold.otf');
}
@font-face {
    font-family: nexabook;
    src: url('../fontes/Nexa-Book.otf');
}
@font-face {
    font-family: nexablack;
    src: url('../fontes/NexaBlack.otf');
}

.centralizar_icone{
    text-align: center;
    background: bisque;          
}







.servicos{
    margin-top: 18px;
}
.fundo-servico{
    padding-left: 0;
}            
.icone-servico{
    text-align: center;
    margin-top: 10px;
}
.icone-servico a:hover{
    text-decoration: none;   
}

.icone-servico a:hover .separete{    
    background-color: rgb(0, 141, 255);
}

.icone-servico a:hover .separete p{
    color: white;
    text-decoration: none;      
}

.separete{
    background: #dde2e6;
    padding-top: 5px;
    margin-top: 8px;
}

.titulo-icones-servico{
    font-weight: bold;
    color: #808080;
}

.icone-servico a .separete .ft-icone{
    filter: invert(59%);
}

.icone-servico a:hover .separete .ft-icone{
    filter: contrast(200%);
    filter: invert(0%);
    filter: grayscale(0%);
}

.titulo-servico{
    text-align: center;
    background: #0071bb;
    font: 19.17px nexabold;
    color: white;
    font-weight:  bold;
    height: 34px;
    padding: 5px;
}

.titulo-ultimasNoticias{
    font: 19.17px nexabold;
    text-align: center;                                
    color: #232c77;
    font-weight:  bold;               

}
.titulo-acessos{
    width: 100%;
    font: 19.17px nexabold;
    text-align: left;                                
    color: #232c77;
    font-weight:  bold;               

}
.ultimasNoticias{
    margin-top: 10px;
}
.iconesAcessos{
    margin-top: 8px;
}
/*.limiteTexto{
    white-space: nowrap;
    width: 100%;                   
    overflow: hidden;
    text-overflow: ellipsis;
}*/
.tituloNoticia{
    font: 14px nexablack;
    color: #000;
    margin-bottom: 3px;
}
.acessos-icons{
    padding: 0px 9px;
}
.corpoUltimasNoticias{
    padding-right: 0px;
}
.corpoUltimasNoticias a{
    text-decoration: none;
}
.corpoUltimasNoticias a:hover .ultimasNoticias{
    text-decoration: none;
    background: rgba(0,0,0,0.1);
}
.subtituloNoticia{
    font: 15px nexablack;
    color: #575756;
    margin-bottom: 13px;
}
.foto-globo{
    max-width: 178px;
    float:left;
}
.card{
    border: 1px solid white;
}
.text-globo{
    padding-bottom: 0; 
    padding-left: 15px;
    padding-top: 5px;
}       
.tresNoticiasBody{
    font: 15px nexablack;
    color:black;
    padding-top: 9px;
}
.texto-duas-noticias{
    font: 15px nexablack;
    color:black;
}

.texto-evento-titulo{
    color: black;
    font: 16px nexabold;
}
.texto-evento-subtitulo{
    font: 15px nexablack;
    color: #575756;
}
.corpo-evento a:hover{
    text-decoration: none;
}
.textos-eventos{
    padding-top: 8px;
}

@media (min-width: 1200px){                   
    .texto-duas-noticias{
        margin-left: 182px;
        margin-top: -120px;
    }
    .veja-mais{
        display: none;
    }
    .servicos-tres{
        display: none;
    }

}

@media (max-width: 1200px){                   

    .servicos-tres{
        display: none;
    }

}
@media (min-width:576px){
    .veja-mais{
        display: none;
    }

}

@media (max-width: 576px){

    .linha-veja-mais .veja-mais a .separete p{
        color: orange;
    }
    .linha-veja-mais{
        margin-left: 0px;
        width: 100%;        
    }
    .veja-mais{
        display: block;
        margin-right: 0px;

    }
    .estrutura-acesso{
        display: none;
    }
    .servico-full{
        display: none;
    }
    .servicos-tres{
        display: block;
    }    
    .texto-respon{
        padding-left: 191px;
    }
    .respon-txt{
        margin-top: -135px;
    }
    .body-respon{
        margin: 0 0 400px;
    }
    .footer-responsive{
        height: 407px;
    }
}
@media (max-width: 992px){                   
    .tamIMG{
        max-height: 343.11px;
        height: 343.11px;
    }    

}
@media (min-width: 993px){   
    .text-globo{
        padding-left: 0;
    } 
    .corpoUltimasNoticias{
        padding-left: 0;
    }

    .tamIMG{
        height: 411px;
        max-height: 411px;
        object-fit: cover;
    }


}
@media (max-width: 768px){
    .ultimasTitulo .titulo-ultimasNoticias{
        width: 100%;
    }
}
@media (min-width: 768px){
    .veja-mais{
        display: none;
    }    
}

.tresNoticias a:hover{
    text-decoration: none;
}
.card:hover{
    background: #ccc;
}

.quatroNoticia{
    padding-left: 0;
    margin-bottom: 5px;
}

.quatroNoticia a:hover{
    text-decoration: none;
}

.foto-evento{
    width: 100%;
}

/*estilo aniversario*/
.table-striped>tbody>tr td{
    font-size: 14px;
}
.table-striped>tbody>tr td, 
.table-striped>tbody>tr th {
    background-color: rgb(49,165,231);    
    color: white;                
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {   
    background-color: rgb(40,89,146);                
    color: white;               
}

.scroll-niver {
    overflow-y: scroll;
    height: 347px;
    margin-top: 3px;
    /* width: max-content; */
}

.carousel-indicators li {
    width: 13px;
    height: 11px;
}

.carousel-indicators {
    justify-content: flex-end;
}

.titulocarroseul{
    font: 20px nexablack;
    position: absolute;
    top: 243px;
    color: white;
    margin-left: 15px;
    background: rgba(0,0,0,0.7);
    padding: 5px;
    max-width: 338px;
    border-radius: 4px;
}

.card-img-top{
    object-fit: cover;
}


