.tituloPagina{background-color: #324688; margin-bottom: 20px;}
.texto-titulo{color: white; margin-left: 21%;font-size: 32px;font-weight: bold;}

.estilo-img{height: 190px;width: 300px;float: left;margin-left: 10px;margin-right: 10px;}
.estilo-img2{height: 215px;width: 300px;float: right;}
.estilo-img-janta{height: 180px;width: 300px;float: left;margin-right: 10px;}
.estilo-img4{height: 161px;    width: 300px;    float: right;}