.espaco-serv{
    margin: 20px 94px 20px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.corpo{
    padding-top: 3%;
    padding-left: 0;
    padding-right: 0;
}

.estilo-acesso{
    background: #007bff;
    color: white;
    border: 2px solid #007bff;
}
.estilo-acesso:hover{
    background: #ccc;
    color: coral;
    border: 2px coral outset;
}
.posicao-help{
    position: absolute;
    top: 81px;
    left: 240px;
    color: black;
}
.posicao-help:hover{
    color: red;
    cursor: pointer;
}

