
.linhaFundo{
    background: #e4e4e4;
}
.espaco-acess{
    margin: 19px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding-left: 0;
    padding-right: 0;
    background: white;
}
.espaco-acess a{
    text-decoration: none;
    color: black;
}
.espaco-acess a:hover{
    text-decoration: none;
    color: red;
}
.corpo-serv{
    height: 100%;
}
.nome-sistema{
    text-align: center;
}