/*
    DEMO STYLE
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#espaco-evento{
    padding-top: 13px;
}

@media (min-width: 1400px){
    .container {
        width: 962px;
    }
    .spaceNoticia{
        width: 200px;
    }
    .foto-logo {
        width: 100%;
        min-width: 261px;
        margin-left: -45px;
    }
}

@media (min-width: 1654px){
    .col-md-3 {
        width: 18%;
    }
}

@media (min-width: 1400px) and (max-width: 1653px){
    .spaceNoticia {
        width: 266px;
    }
}

@media (min-width: 1653px) and (max-width: 2000px){
    .margon{
        padding-left: 20px;
        padding-right: 50px;
    }
}
/*
            @media (max-width: 1000px){
                .col-md-3 {
                    width: 23%;
                    height: 350px;
                }
            }

            @media (min-width: 1001px) and (max-width: 1400px){
                .col-md-3 {
                    width: 24%;
                    height: 38px;
                }

            }*/

.spaceNoticia{
    background: rgba(255,255,255,1);
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 3px;
    min-height: 369px;
    max-height: 369px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 4px;
}
#tamanho-container{
    width: 100%;
}
p{
    color: black;
}

#cke_1_contents{
    min-height: 600px;
}



a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar {
    background: #082346;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 69px;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
i, span {
    display: inline-block;
}

.logout{
    padding-top: 4px;
    float: right;
    width: 38px;
    background: red;
    color: black;
    border-radius: 5px;
}
.user{
    background: #DE751F;
    float: left;
    border-radius: 3px;
    padding: 3px;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(142,141,141);
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: left;
}
#sidebar.active .foto-logo{
    display:none;
}


#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}
#sidebar ul li a {
    text-align: left;
}
#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.86em;
}
#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
#sidebar .sidebar-header {
    padding: 5px;
    background: #082346;
}
#sidebar .sidebar-header strong {
    display: none;
    font-size: 1em;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #06b0da;
}
#sidebar ul li a i {
    margin-right: 10px;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0071bb;
}
a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #098be0;
}
ul.CTAs {
    padding: 20px;
}
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.feedback {
    background-color : #152e75;
    color: white;
    padding: 10px 10px;
    border:none;
    border-radius: 50px;
    border-color: #152e75;
}
#mybutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.esp {
    margin-left: 0px;
    margin-top: 16px;
}


/*estilo dos check box do modal do posicionamento das noticias*/
.label-titulo{
    font-size: 22px;
    color: black;
}
.position-not{
    margin-left: 15px;
}

label{
    position: relative;
    cursor: pointer;
    color: #666;
  
}

input[type="checkbox"]{
    position: absolute;
    right: 9000px;
}

.label-text{
    font-size: 20px;
}

.tamanho-modal{
    min-width: 398px;
}

.modal-footer .btn+.btn {
/*    margin-bottom: 8px;*/
    margin-left: 5px;
}

/*Check box*/
input[type="checkbox"] + .label-text:before{
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]:checked + .label-text:before{
    content: "\f14a";
    color: #2980b9;
    animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
    color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
    content: "\f0c8";
    color: #ccc;
}

@keyframes effect{
    0%{transform: scale(0);}
    25%{transform: scale(1.3);}
    75%{transform: scale(1.4);}
    100%{transform: scale(1);}
}

.input-check{
    float: left;
}
/*fim*/
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}


.btn-info {
    color: #fff;
    background-color: #337ab7;
    border-color: #46b8da;
}
.tamanho-botoes{width: 25px; height: 29px;}

.tamanho-thumb{width:260px ;height:135px}
.img-add{width: 20px;height: 20px;}
.titulo{
    text-align: center;
    margin-right: 200px;
}

.margon{
    padding-left: 10px;
}
#btn-addi{
    font-size: 60px;
    color: white;
}

.btn-adicionar{
    background: #E57373;
    border-radius: 82px;
    height: 60px;
}
/* ---------------------------------------------------
    AUDIO
----------------------------------------------------- */
.panel{ margin: 20px; padding:0px; height:34px;}
#playlist,audio{width:100%;}
.active a{color:#fff;text-decoration:none;}
ul{list-style:none; margin:0px; padding:20px;}
li{margin:0px; padding:0px;}
li, a{transition:all 0.5s;}
.list-group-item.active a{ text-decoration:none; color:#fff;}
a{display:block; position:relative;}
li a{display:block; text-decoration:none;}

li a:hover{text-decoration:none; color: #fff;}
.listaaudio{color:#000; text-decoration:none;}
.last{display:none;}
/* ---------------------------------------------------
    FIM AUDIO
----------------------------------------------------- */
/* ---------------------------------------------------
    RAMAL
----------------------------------------------------- */
#setor {
     /* Full-width */
    font-size: 16px; /* Increase font-size */

    /* Add a grey border */
}
#nome {

    font-size: 16px; /* Increase font-size */

}
#ramal {

    font-size: 16px; /* Increase font-size */


}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable .estilo-tabel{
    background: #000444;
    color: white;
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #000444;
    color: white;
}
.form-row{
    margin-left: 60px;
}
/* ---------------------------------------------------
    FIM RAMAL
----------------------------------------------------- */
/* ---------------------------------------------------
    BOTAO MENU
----------------------------------------------------- */

/* ---------------------------------------------------
    FIM BOTAO MENU
----------------------------------------------------- */
.navbar-form {
    width: auto;
    margin-top: -4px;
    padding-top: 0;
    padding-bottom: 0px;
    margin-right: -100px;
    margin-left: 0px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-btn {
    font-size: 20px;

}
.missao{
    color: black;
}
#tamanho-container{
    width: 100%;
}

.css-foto{
    max-width: 264px;
    height: 100%;
    width: 100%;
    min-height: 135px;
    max-height: 135px;
}

.limite-texto{
    max-height: 50px;
    min-width: 210px;
}

.foto-logo{
    width: 336px;
    margin-left: -45px;
}
/* ---------------------------------------------------
    BOTÕES
----------------------------------------------------- */
.btn-publish{
    padding-left: 3px;
    padding-right: 3px;
}


.btn-preview{
    background: #fff;
    border: 2px solid #56D5D5;
    width: 50px;
    border-radius: 7px;
    color: #56D5D5;
}
.btn-preview:hover{
    background: #56D5D5;
    border: 1px solid #56D5D5;
    color: white;

}

.btn-editar-not{
    background: #fff;
    border: 2px solid #f7cb60;
    width: 50px;
    border-radius: 7px;
    color: #f7cb60;
}
.btn-editar-not:hover{
    background: #f7cb60;
    border: 1px solid #f7cb60;
    color: white;
}

.btn-excluir-not{
    background: #FFF;
    border: 2px solid #E3342F;
    width: 50px;
    border-radius: 7px;
    color: #E3342F;
}
.btn-excluir-not:hover{
    background: #E3342F;
    border: 1px solid #E3342F;
    color: white;
}

.btn-desativar{
    background: #fff;
    border: 2px solid #757876;
    width: 50px;
    border-radius: 7px;
    color: #757876;
}
.btn-desativar:hover{
    background: #757876;
    border: 1px solid #757876;
    color: white;
}

.btn-publicar{
    background: #FFF;
    border: 2px solid #1F932F;
    width: 50px;
    border-radius: 7px;
    color: #1F932F;
}
.btn-publicar:hover{
    background: #1F932F;
    border: 1px solid #1F932F;
    color: white;
}


.centro-icon{
    margin-top: 4px;
}

/*Escolher posição da noticia na pagina inicial*/
.escolha{
    position: relative;
    border-radius: 50% 50%;
    width: 30px;
    float: right;
    margin-bottom: 5px;
}

.sub-menu-conf{
    background: green;
}

.foto-escolha{
    width: 138px;
    height: 39px;
}

.sub-menu-conf>li>a:hover{
    background: #56D5D5;
}

.pontos{
    color: orange;
    border: none;
}
.pontos:hover{
    color: green;
}
.pontos:focus {
    color: orange;
    border: none;
}

/*fim*/

/* ---------------------------------------------------
    FIM BOTÕES
----------------------------------------------------- */
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }


    #sidebarCollapse span {
        display: none;
    }
}
input[type=file] {
    display: block;
    color: black;
    margin: 0px 0px 5px 0px;
    font-size: 18px;
}
.btninput{
    border: 1px solid black;
    width: 500px;
}

.labelarquivo{
    font-size: 20px;
}

/*USUARIO LOGADO*/
.nav-pills>li>a {
    border-radius: 4px;
    background: #7487b3;
    color: white;
}

.nav .open>a, .nav .open>a:focus{
    background: #ccc;
    color: black;
}
.nav .open>a:hover {
    background: #ccc;
    color: white;
}
.nav .dropdown .dropdown-toggle:hover{
    background: #CCC;
    color: black;
}
.dropdown-menu {
    background: #6d8cb5;
    color: white;
}

#pageSubmenu , #pageSubmenu2,#pageSubmenuDoc{
    padding: 0;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #050c4d;
    color: white;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 2.428571;
    color: #333;
    white-space: nowrap;
    color: white;
}

.dropdown-menu>li>a:hover {
    background: #8e8d8d;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: none;
    display: block;
    position: absolute;
    right: 20px;
    font-family: none;

}

.btn-cancelar-alt{
    background: red;
    width: 100px;
    height: 48px;
    border-radius: 3px;
    float: left;
    margin-top: 10px;
}

.cancel{
    float: left;
    margin-top: 14px;
    color: white;
}


.btn-salvar-not{
    width: 100px;
    height: 48px;
    font-size: 18px;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 3px;
}
.btn-salvar{

    float: left;
    color: white;
}

.modal-excluir{
    width: 69.75px;
    height: 34px;
}

.titulo-listar{

    background: #fff;
    border-radius: 5px;
    color: black;

    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.listar-noticias {
    padding: 7px;
    font-size: 17px;
    float: left;
    padding-left: 67px;
}

.btns-espaco{
    display: -webkit-inline-box;
    margin-top: 12px;
    padding-top: 16px;
    color: white;
}
.btns-espaco p{
    color: white;
}

.modal-footer a{
    font-weight: bold;
    font-size: 15px;
}


.card-img span {
	position: absolute;
    top: 11%;
    left: 19%;
    background: #1ABC9C;

    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}

.card-img-evento span{
    position: absolute;
    top: 11%;
    left: 18%;
    background: #1ABC9C;

    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}

.card-img-evento span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}

.listar-noticias a{
     background: #1ABC9C;
     margin-left: 8px;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    
    display: inline-block;
}
