.linha {
  margin-left: auto;
  margin-right: auto;
}

%col-l{
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
}

$cont: 1;
$colunas: 12;
$tam-coluna:100%/ $colunas;
$aux: $colunas;

@while $cont <= $aux{
    .col-l#{$colunas}{
      width: $tam-coluna * $colunas;
      @extend %col-l;
      background: #123 * $cont;
    }
    $cont: $cont + 1;
    $colunas: $colunas - 1;
}
