/*! comentário

sass arquivo.scss:arquivo.css
sass --watch scss:css
sass --watch scss:css --style expanded
 */

div{
  border:{
    color: red;
    style: solid;
    width: 2px;

  }
  &:hover{
    color: white;
  }
}
#main{
  font: 30px/1.4 sans-serif;
  font:{
    style: italic;
    weight: bold;
    variant: small-caps;

  }
}

$cor: black;
$propriedade: font;

.#{$cor}{
  color: $cor;
  #{$propriedade}:{
    size: 14px;
  }
}
